  <section class="hero b1 is-medium">
    <a class="anchor" name="about"></a>

    <div class="hero-body">
      <div class="container has-text-centered">

          <!--Title-->
          <p class="is-uppercase is-size-7">So let's talk</p>
          <h1 class="title">About Me</h1>
           <br>

          <!-- Content -->
          <div class="columns">
            <div class="column is-8 is-offset-2">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
              <!-- BUTTON -->
              <br>
              <a href="#" target="._blank" class="button is-primary is-rounded">
                My Resume</a>
            </div>
          </div>


        </div>
    </div>

  </section>
