
  <footer class="footer">
  <div class="content has-text-centered ">
    <p>
        This template was created by <strong>Alejandro Marco</strong>.
    </p>
    <a href="https://bulma.io">
        <img src="https://bulma.io/images/made-with-bulma--black.png" alt="Made with Bulma" width="128" height="24">
    </a>
    <p class="is-7">
        Check the <a href="#">source code</a>.
    </p>


  </div>
</footer>

  </body>
</html>
