<section class="hero banner is-fullheight is-primary is-bold">

        <!-- Navbar -->
        <div class="hero-head">
            <a class="anchor" name="home"></a>
            <nav class="navbar is-spaced">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="#home">
                          <p>🦙 </p>
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>

                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item" href="#about">
                                    <span>About</span>
                            </a>
                            <a class="navbar-item" href="#projects">
                                    <span>Projects</span>
                            </a>
                            <span class="navbar-item" href="#contact">
                                   <a href="mailto:alphie@thebestalpaca.com" id="hello-button" class="button is-light is-outlined is-rounded">
                                      <span> Say Hello</span>
                                   </a>
                            </span>

                        </div>
                    </div>
                </div>
            </nav>
          </div>

           <!-- Main content -->
          <div class="hero-body">
              <div class="container has-text-centered">
                  <!-- Image -->
                  <div class="column is-6 is-offset-3">
                      <figure class="image container is-128x128">
                        <img class="is-rounded has-shadow" src="images/profile.jpg">
                      </figure>
                  </div>
                  <!-- Space just showed in mobile and tablet -->
                  <div class="section is-hidden-desktop">
                  </div>
                  <!-- Greeting and descrpitsion-->
                  <div class="column is-6 is-offset-3">
                      <h1 class="title">
                          Hello,
                      </h1>
                      <h2 class="subtitle">
                          I'm a cute alpaca.
                          I will gaze lovingly into your eyes while you pet me.
                      </h2>
                  </div>
                  <!-- Social Bar-->
                  <div class="column is-6 is-offset-3">
                      <span class="icon is-medium">
                        <a href="#" target="_blank"
                        class="fab fa-2x fa-instagram"></a>
                      </span>
                      <span class="icon is-medium">
                        <a href="#" target="_blank"
                        class="fab fa-2x fa-twitter"></a>
                      </span>
                      <span class="icon is-medium">
                        <a href="#" target="_blank"
                        class="fab fa-2x fa-linkedin"></a>
                      </span>
                  </div>

                </div>
            </div>

            <!-- Hero Footer (Arrow) -->
            <div class="hero-foot">
                <a class="container has-text-centered" href="#about">
                    <div class="bounce">
                    <img width="40" height="40" alt="" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiBoZWlnaHQ9IjMycHgiIGlkPSLQodC70L7QuV8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik0yNC4yODUsMTEuMjg0TDE2LDE5LjU3MWwtOC4yODUtOC4yODhjLTAuMzk1LTAuMzk1LTEuMDM0LTAuMzk1LTEuNDI5LDAgIGMtMC4zOTQsMC4zOTUtMC4zOTQsMS4wMzUsMCwxLjQzbDguOTk5LDkuMDAybDAsMGwwLDBjMC4zOTQsMC4zOTUsMS4wMzQsMC4zOTUsMS40MjgsMGw4Ljk5OS05LjAwMiAgYzAuMzk0LTAuMzk1LDAuMzk0LTEuMDM2LDAtMS40MzFDMjUuMzE5LDEwLjg4OSwyNC42NzksMTAuODg5LDI0LjI4NSwxMS4yODR6IiBmaWxsPSIjMTIxMzEzIiBpZD0iRXhwYW5kX01vcmUiLz48Zy8+PGcvPjxnLz48Zy8+PGcvPjxnLz48L3N2Zz4=" />
                    </div>
                </a>
            </div>
    </section>
