<section class="hero is-medium">
    <a class="anchor" name="projects"></a>

    <div class="hero-head">
    </div>
    <!-- Projects Section-->
    <div class="hero-body">
      <div class="container">

        <!-- TITLE-->
        <div class="has-text-centered">
            <p class="is-uppercase is-size-7">Take a look to</p>
            <h1 class="title">My Projects</h1>
            <br>
        </div>
        <!-- GRID -->
        <div class="columns is-multiline">
          <div class="column is-4">
            <% include components/card1 %>
          </div>
          <div class="column is-4">
            <% include components/card1 %>
          </div>
          <div class="column is-4">
            <% include components/card1 %>
          </div>
        </div>

        <!-- Grid 2 -->

        </div>
    </div>
    <!-- Projects Section-->
</section>
