<!-- Card 1 -->
 <div class="card rounded">

   <!-- Card Header -->
  <div class="card-image">
    <figure class="image is-5by3">
      <img class="rounded" src="https://i.ibb.co/9hx8P1G/alpacas.jpg" alt="Example">
  </div>

  <!--Card Content-->
  <div class="card-content">

    <!-- Card Title -->
      <div class="media">
      <!-- Icon or Logo -->
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://i.ibb.co/hfjFC8y/fondo-linda-alpaca-23-2147871695.png" alt="Logo">
        </figure>
      </div>
      <!-- Title and description -->
      <div class="media-content">
        <p class="title is-size-4">Alpaca Book</p>
        <p class="subtitle is-size-6">A place for alpacas</p>
      </div>
    </div>

          <!--Card Description -->
          <div class="content">
          <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>
          <!-- Key Points -->
          <div class="content">
            <p class="has-text-weight-semibold">Key Points</p>
            <ul>
                <li>Best app of the year</li>
                <li>Really cool stuff going here</li>
                <li>Other highlight</li>
            </ul>
          </div>
          <!-- Tech and tools -->
          <div class="content">
              <p class="has-text-weight-semibold">Tech and Tools</p>
              <!-- Icons -->
              <span class="icon is-medium has-text-grey-lighter is-size-3">
                <i class="devicon-php-plain" alt="php" title="PHP"></i>
              </span>
              <span class="icon is-medium has-text-grey-lighter is-size-3">
                <i class="devicon-vim-plain" alt="vim" title="Vim"></i>
              </span>
              <span class="icon is-medium has-text-grey-lighter is-size-3">
                <i class="devicon-ie10-plain" alt="ie10" title="Internet Explorer"></i>
              </span>
          </div>
          <!--Card Buttons -->
          <div class="content buttons">
            <a class="button is-primary is-rounded" href="#" target="._blank">Website</a>
            <a class="button is-primary is-outlined is-rounded" href="#" target="._blank">Source Code</a>
          </div>

    </div>
  </div>
 <!-- Card -->
